@media screen and (max-width: 780px) {

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.sep1 {
	padding: 5px;
	}
	.sep2 {
		padding: 10px;
	}
	.sep3 {
		padding: 15px;
	}
	.sep4 {
		padding: 20px;
	}
	.header-menu {
		clear: both;
		visibility: none;
	}
	.home-back {
		background: url(images/back-home-mobile.jpg);
		background-size: cover;
		background-position: center center;
		padding-left: 0;
		padding-right: 0;
		background-repeat: no-repeat;
	}
	.blue-back-home {
		background: #3FB9C9;
		position: initial;
	}
	.header-menu ul {
		padding-left: 0;
		text-align: center;
		padding-top: 30px;
		display: none;
		margin-bottom: 0;
	}
	.header-menu ul li {
		display: block;
		border-bottom: 1px solid #fff;
		width: 100%;
		padding: 5px;
	}
	.header-menu ul li:last-child {
		border-bottom: none;
	}
	.header-menu ul li a {
		color: #fff;
		text-decoration: none;
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
	  	transition: none;
	  	border-bottom: none;
	}
	.header-menu ul li a:hover {
	  	color: #002434;
	  	border-bottom: none;
	  	padding: auto; 
	}
	.header-menu ul li.current-menu-item a {
		color: #002434;
		border-bottom: none;
		padding-bottom: auto;
	}
	#menu-bar {
		display: block;
		text-align: right;
		padding-top: 2%;
		cursor: pointer;
	}
	.logo-img{
		display: none;
	}
	.logo-img-small {
		display: block;
		padding-top: 5px;
	}
	.logo-img-small img{
		width: 150px;
	}
	.banner-big-text {
		padding-top: 50px;
	}
	.banner-big-text h1 {
		font-size: 15px;
	}
	.banner-big-text h2 {
		font-size: 15px;
		margin-top: 0;
	}
	.banner-big-text h3 {
		font-size: 20px;
		margin-top: 0;
	}
	.banner-buttons {
		padding-bottom: 30px;
	}
	.banner-buttons a {
		background: #002434;
		border-color: #002434;
		padding: 10px 15px;
		font-size: 16px;
		border-radius: 18px;
		color: #fff;
	}
	.banner-buttons a:first-child {
		display: none;
	}
	.banner-buttons-small a:first-child {
		display: inline-block;
	}
	.why-schubbs-img {
		padding: 0;
	}
	.why-schubbs-img h2 {
		font-size: 15px;
		line-height: 1.2;
		margin-top: 10px;
	}
	.testimonial {
		padding: 20px;
		/*margin: 0;*/
	}
	.test-back .div-success {
		margin: 0;
		width:100%;
	}
	.sec-title h2 {
		font-size: 25px;
	}
	.stats-sec {
		margin: 0;
		margin-bottom: 30px;
	}
	#animate-no > div:nth-child(2n+1){
		clear: both;
	}
	.stats-img {
		margin: 0 8px;
		height: 165px;
		overflow: hidden;
	}
	.stats-img img {
		/*width: 100px;*/
		max-width: 100%;
		margin-top: 20px;
	}
	.stats-text {
		min-height: 130px;
	}
	.stats-text h1 {
		font-size: 40px;
	}
	.stats-text p {
		font-size: 15px;
	}
	.form-elem textarea {
		height: 150px;
	}
	.contact-form {
		display: none;
	}
	.clinic-info {
		display: none;
	}
	/*.multiple-locations {
		padding-bottom: 40px;
		text-align: center;
	}
	.multiple-locations h2 {
		font-size: 20px;
	}
	.multiple-locations h3 {
		font-size: 18px;
	}*/
	.locations {
		text-align: center;
	}
	.clinics {
		display: block !important;
	}
	.news {
		padding: 0;
		margin: 0 10px;
	}
	.news-info {
		padding: 20px;
		margin-bottom: 10px;
	}
	.appointment-schedule h3 {
		font-size: 20px;
	}
	.appoint-timing {
		font-size: 16px;
		padding: 5px 0;
	}
	.prev-nxt-btns {
		font-size: 15px;
	}
	.prev-nxt-btns img {
		width: 15px;
	}
	.prev-btn,.next-btn{
		width: 100%;
		margin-bottom: 5px;
	}
	.appointment-content {
		padding-left: 0;
		padding-top: 20px;/
	}
	.sidebar {
		padding-left: 0;
	}
	.team-member {
		padding: 0 20px;
	}
	.team-member-info {
		text-align: center;
	}
	.modal {
		padding: 0;
	}
	.modal-left,.modal-right {
		padding: 20px;
	}
	.modal-content {
		width: 92%;
		margin-left: 15px;
	}
	.modal-content.team-modal {
		background: transparent;
		border-radius: 0;
		width: 100%;
		margin-left: 0;
	}
	.team-modal .team-info {
		margin: 10px;
	}
	.team-info .row{
		display: block;
	}

	.team-info .row > div {
		display: block;
		width: auto;
	}
	.team-info .row > div.modal-image{
		display: none;
	}
	.close {
	    
	}
	.container.location-white-back {
		margin: 0 15px;
		padding: 0;
	}
	.blogs {
		min-height: auto;
		margin-bottom: 30px;
	}
	.blog-pagination {
		margin-bottom: 25px;
	}
	.blog-pagination a {
		font-size: 16px;
	}
	.sidebar-blogs {
		margin-top: 10px;
	}
	.footer-logo {
		text-align: center;
	}
	.footer-menu {
		padding-top: 10px;
	}
	.footer-menu ul li {
		padding: 5px 10px;
	}
	.footer-menu ul li a{
		font-size: 15px;
	}
	.white-button {
		display: none; 
	}
	.footer-social {
		padding-top: 15px;
		float: none;
		text-align: center;
	}
	.copyright {
		font-size: 11px;
		text-align: center;
	}
	.md-hide {
		display: block;
	}
	.services-text h2 {
		margin-top: 15px;
		font-size: 28px;
		text-align: center;
	}
	.post-video iframe {
		width: 100%;
		height: 200px;
	}
	.post-faqs {
		font-size: 16px;
	}
	.location {
		margin-bottom: 30px;
	}
	.location-info {
		min-height: auto;
	}
	.search-Form h2 {
		font-size: 20px;
	}
	.search-Form h3 {
		font-size: 18px;
	}
	.search-bar {
		margin-bottom: 15px;
	}
	.form-div .col-md-6:last-child{
		margin-top: 20px;
	}
}

@media screen and (min-width: 480px) and (max-width: 780px){
	#menu-bar {
		padding-top: 15px;
	}
	.banner-big-text h1, .banner-big-text h2 {
		font-size: 18px;
	}
	.banner-big-text h3 {
		font-size: 25px;
	}
}

@media screen and (min-width: 780px) and (max-width: 1024px) {
	
	.blue-back, .footer-social, .copyright {
		text-align: center;
	}
	.white-button {
		display: none;
	}
	.footer-social {
		float: none;
	}
}